* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  overflow-x: hidden;
  overflow-y: scroll;
  font-family: system-ui, sans-serif;
}

.container {
  max-width: 600px;
  margin: 0 auto;
  padding: 1rem;
}
